{{#if this.todoService.todos.length}}
  <div class="todo-section">
    {{#each this.todoService.todos as |todo|}}
      <TodoItem @todo={{todo}} />
    {{/each}}
  </div>
{{else}}
  <p class="empty-state">
    No tasks yet. Add one to get started.
  </p>
{{/if}}
