<div class="input-row">
  <div class="field">
    <label>Task Title :  </label>
    <input type="text" placeholder="Add a new task…" value={{this.newTodo}} {{on "input" this.updateNewTodo}}
      aria-label="New task" />
  </div>

  <button class="add-btn" {{on "click" this.submit}}>Add Todo</button>
</div>
